.mdl-card__title {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 16px;
}

/*#chapter-list > .mdl-grid {
    display: flex;
    justify-content: center;    Center the cards horizontally 
    padding: 0;                 Remove padding from the grid  
    margin: 0;                  Remove margin from the grid  
    flex-wrap: wrap;            Ensure wrapping when there are too many cards  
}*/

/*.card {
  position: relative;
}*/

body {
    background-color: #FAFAFA;
}

.card-star {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #ffc107; /* Gold color for the star */
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    font-size: 32px;
    padding: 8px;
    z-index: 10;
}

#main-content {
    max-width: 1038px;
    justify-content: center;
}

#main-content > .mdl-cell {
    width: auto; /* Allow cells to adjust width based on content */
}

i.material-icons.mdl-list__item-icon {
    width: 42px;
    height: 42px;
    font-size: 42px;
}

/* Shimmer animation */
@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.card.loading::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
            45deg,
            #dddddd 25%,
            #f5f5f5 37%,
            #dddddd 63%
    );
    mix-blend-mode: multiply;
    background-size: 400% 100%;
    animation: shimmer 1.4s linear infinite;
}

.card.loading {
    opacity: .5;
}

.card {
    filter: saturate(0);
    opacity: .3;
    position: relative;
}

.card.active {
    filter: saturate(1);
    opacity: .8;
}

.card.active:hover {
    opacity: 1;
    cursor: pointer;
}

.resource:hover {
    background-color: #f5f5f5;
}

.resource {
    cursor: pointer;
}

#chapter-title {
    margin: 16px;
}

.mdl-spinner__circle {
    border-color: white;
}

.spinner_appbar {
    margin-left: 16px;
}

#classMenuBtn {
    cursor: pointer;
}

.two-column-menu {
    width: 300px; /* Adjust width as needed */
}

.menu-container {
    display: flex;
    justify-content: space-between; /* Space between two lists */
    padding: 10px;
    width: 100%;
}

.menu-class-list {
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1; /* Make both lists take equal space */
}

.mdl-layout__container {
    height: auto!important;
}